p = "Hi #{@user.first_name.titleize}"

p Here's the password reset you requested.  To reset your password click the link below, and enter a new password.

= link_to "Click Here to reset your password", [:new, :public, :password_reset, auth: @reset_request.auth]

p If you did not request this password reset, please reach out to us at: (541) 679-2920 so we can investigate.